#canvas{


    border:2px solid #000000;

    position: center;
}
header{
    width:100%;
    height:200px;
    background: #4238ca;
    background-image:-webkit-linear-gradient(to right,rgba(0, 0, 0, 0.836), rgba(2, 2, 2, 0.616)),url("img/fondo1.jpg");
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.836), rgba(2, 2, 2, 0.616)),url("img/fondo1.jpg");
    background-size:cover;
    background-attachment:fixed;
    position:relative;

}
nav{
    text-align:right;
    padding:30px 50px 0 0;
 }
 nav>a{
    color:#fff;
    font-weight:300;
    text-decoration:none;
    font-size:20px;
    margin-right:10px;

 }
 nav>a:hover{

    text-decoration:underline;



 }

 header .textos-header{
    display:flex;
    height:430px;
    width:100%;
    align-items:center;
    flex-direction:column;
    text-align:center;
 }
 .textos-header h1{
    font-size:30px;
    color:#fff;
 }

 .textos-header h2{
    font-size:20px;
    font-weight:300;
    color:#fff;
 }
 .textos-header h3{
    font-size:20px;
    font-weight:200;
    color:#fff;
 }
 /*footer*/
